*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

main {
  display: block;
}

h1 {
  font-size: 80px;
  margin-bottom: 24px;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #010409;
}

b,
strong {
  font-weight: bolder;
}

img {
  border-style: none;
  vertical-align: bottom;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button {
  font-weight: bold;
  font-size: 18px;
  color: #FEFEFE;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  padding: 16px 32px;
}

button,
select { /* 1 */
  text-transform: none;
}

p {
    color: #73767D;
    margin-bottom: 25px;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

[hidden] {
  display: none;
}

/* Подключенине шрифтов */
@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 400;
	src: url('./assets/fonts/Comfortaa-Regular.ttf');
}

@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 700;
	src: url('./assets/fonts/Comfortaa-Bold.ttf');
}

@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 300;
	src: url('./assets/fonts/Comfortaa-Light.ttf');
}

/* --------------------- */

body {
    margin: 0;
    font-family: 'Comfortaa';
    font-size: 14px;
    font-weight: 400;
    color: #010409;
}

h2, h3 {
    margin: 0;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn {
    background-color: #266EDB;
    transition: box-shadow .2s;
}

.btn:hover {
    box-shadow: 0px 0px 6px rgba(1, 1, 1, 0.4);
}

/* searcher start */

.searcher__input {
    width: 100%;
    border: none;
    outline: none;
    padding: 5px 40px;
    border-bottom: 1px solid #73767D;
}

.searcher {
    position: relative;
}

.searcher::before {
    content: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.3337 19.3334L14.5003 14.5001M8.66699 16.6667C4.24871 16.6667 0.666992 13.085 0.666992 8.66675C0.666992 4.24847 4.24871 0.666748 8.66699 0.666748C13.0853 0.666748 16.667 4.24847 16.667 8.66675C16.667 13.085 13.0853 16.6667 8.66699 16.6667Z' stroke='%23828282' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 5px;
    z-index: 0;
}

/* searcher end */

/* section start */

.section {
    width: 100%;
    padding-left: 21%;
    padding-right: 21%;
    padding-top: 180px;
    padding-bottom: 180px;
}

.section_main {
    height: 90vh;
    min-height: 600px;
    padding-top: 25px;
    padding-right: 15%;
    padding-bottom: 0;
    background-color: #010409;
}

.section_gift {
    display: flex;
    justify-content: space-between;
    background-color: #266EDB;
    padding-top: 80px;
    padding-bottom: 80px;
}

.section_about-us {
    padding-bottom: 65px;
}

.section_advantages {
    background-color: #010409;
    padding-top: 65px;
    padding-bottom: 65px;
    display: flex;
    justify-content: space-between;
}

.section_tabs {
    padding-top: 80px;
    padding-bottom: 100px;
}

.section_stocks {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section_call {
    height: 420px;
    padding-top: 65px;
    padding-bottom: 65px;
    background: #010409;
    color: #FEFEFE;
    display: flex;
    position: relative;
}

.section_news {
    position: relative;
}

.section_rules {
    position: relative;
}

.section_reccomendation {
    padding-top: 0;
}

.section_product {
    padding-top: 0;
    padding-bottom: 0;
}

.section__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 55px;
}

.section__title_white {
    color: #FEFEFE;
    margin-bottom: 25px;
}

.section__uptitle {
    font-size: 16px;
    color: #DB2626;
    margin-bottom: 15px;
}

.section__subtitle {
    font-size: 22px;
    margin-bottom: 16px;
    color: #010409;
}

.section__subtitle_white {
    color: #FEFEFE;
}

@media (max-width: 1600px) {
    .section {
        padding-left: 12%;
        padding-right: 12%;
    }
}

@media (max-width: 1430px) {
    .section {
        padding-left: 8%;
        padding-right: 8%;
    }
}

@media (max-width: 1290px) {
    .section {
        padding-left: 4%;
        padding-right: 4%;
    }
}

/* section end */

/* header start */

.header {
    height: 192px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header__nav {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__nav .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header__nav-link {
    font-size: 18px;
    color: #010409;
    margin-right: 40px;
}

.header__nav-link:last-child {
    margin-right: 0;
}

.header__nav-link_stocks {
    position: relative;
}

.header__nav-link_stocks::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border: 1px solid #266EDB;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
}

/* header end */

/* slider start */

.slider {
    position: relative;
    height: 100%;
}

.slider__image {
    width: 890px;
    opacity: 0.7;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    max-height: calc(90vh - 25px);
    object-fit: cover;
    object-position: 100% 72%;
}

.slider__words-wrapper {
    position: absolute;
    top: 200px;
    left: 0;
    z-index: 1;
}

.slider__words {
    font-weight: 700;
    max-width: 600px;
    font-size: 80px;
    color: #D7D8DA;
    margin-bottom: 50px;
}

.slider__dots {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.slider__dot {
    width: 10px;
    height: 10px;
    border: 2px solid #73767D;
    border-radius: 50%;
    margin-right: 15px;
    transition: border-color .2s;
    cursor: pointer;
}

.slider__dot:last-child {
    margin-right: 0;
}

.slider__dot.slider__dot_active, .slider__dot:hover {
    border-color: #266EDB;
}

.slider_news {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    position: relative;
}

.slider_news__item {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    background-color: #FEFEFE;
    border-radius: 16px;
}

.slider_news__img-wrapper {
    display: block;
    width: 350px;
    height: 200px;
    position: relative;
    margin-bottom: 25px;
}

.slider_news__img-wrapper::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: rgba(251, 252, 254, 0.4);
}

.slider_news__img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.slider_news__title-link {
    color: #010409;
    margin-bottom: 10px;
}

.slider_news__title-link h2 {
    font-size: 22px;
}

.slider_news__title h2 {
    font-size: 22px;
}

.slider_news__subtitle {
    color: #73767D;
    font-weight: 700;
    margin-bottom: 15px;
}

.slider_news__read-more {
    font-size: 16px;
    color: #D7D8DA;
    transition: color .2s;
}

.slider_news__read-more:hover {
    color: #73767D;
}

.slider_news__arrows {
    position: absolute;
}

.slider_news__arrow {
    position: absolute;
    top: 28%;
    width: 15px;
    height: 15px;
    border: 1px solid #266EDB;
    cursor: pointer;
    transform: rotate(45deg);
}

.slider_news__arrow.slider_news__arrow_left {
    left: -30px;
    border-top: none;
    border-right: none;
}

.slider_news__arrow.slider_news__arrow_right {
    right: -30px;
    border-bottom: none;
    border-left: none;
}

/* slider end */

/* section stocks start */

.stocks__catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.stocks__categories {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.stocks__categories-item {
    padding: 16px 56px;
    background: #FEFEFE;
    box-shadow: 0px 0px 4px rgba(1, 1, 1, 0.1);
    font-size: 16px;
    color: #73767D;
    transition: background .3s, box-shadow .3s, color .3s;
}

.stocks__categories-item:hover {
    background: #010409;
    box-shadow: 0px 0px 4px rgba(1, 1, 1, 0.1);
    color: #FEFEFE;
}

.stocks__categories-item.stocks__categories-item_active {
    background-color: #010409;
    color: #FEFEFE;
    font-size: 18px;
}

.stocks__catalog-item {
    width: 350px;
    height: 460px;
    margin-bottom: 30px;
    padding: 24px;
    background: #FEFEFE;
    box-shadow: 0px 0px 4px rgba(1, 1, 1, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    transition: background .2s;
}

.stocks__catalog-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.stocks__catalog-item:hover {
    background: #FCFCFC;
}

.stocks__catalog-item-image-wrapper {
    padding: 15px 15px 20px;
    position: relative;
    z-index: 1;
    width: 300px;
    height: 230px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    cursor: pointer;
}

.stocks__catalog-item-image-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    background: rgba(1, 4, 9, 0.2);
    transition: background .2s;
}

.stocks__catalog-item-image-wrapper:hover::before {
    background: rgba(0, 0, 0, 0.4);
}

.stocks__catalog-item-image-wrapper:hover .product__main {
    opacity: 1;
    visibility: visible;
}

.stocks__catalog-item-image-wrapper:hover .image-wrapper__footer {
    opacity: 0;
    visibility: hidden;
}

.image-wrapper__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
}

.favourite-product {
    margin-left: auto;
}

.image-wrapper__footer {
    color: #FEFEFE;
    text-shadow: 0px 0px 6px rgba(1, 1, 1, 0.2);
    opacity: 1;
    visibility: visible;
    transition: opacity .3s, visibility .3s;
}

.image-wrapper__label {
    padding: 8px 16px;
    background-color: #DB2626;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    color: #FBFCFE;
}

/* section stocks end */

/* product start */

.product__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 25px;
    max-height: 20px;
}

.product__information-title {
    font-size: 16px;
    font-weight: 700;
    color: #FBFCFE;
    margin-bottom: 15px;
}

.product__main {
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s, visibility .2s;
}

.product__information-block {
    margin-bottom: 15px;
}

.product__information-block:last-child {
    margin-bottom: 0;
}

.product__information-name {
    font-size: 12px;
    color: #D7D8DA;
}

.product__information-value {
    color: #FBFCFE;
}

.product__name {
    max-width: 240px;
    max-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 18px;
    position: relative;
}

.product__name::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    background: linear-gradient(90deg, rgba(115, 118, 125, 0) 0.21%, #FCFCFC 84%);
}

.product__weight {
    color: #73767D;
    max-width: 62px;
    text-align: right;
}

.product__footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.product__cart-button {
    background-color: #266EDB;
    color: #F4F5F5;
    transition: box-shadow .3s, color .3s, background-color .3s;
}

.product__cart-button:hover {
    box-shadow: 0px 0px 4px rgba(1, 1, 1, 0.1);
    color: #266EDB;
    background: #F4F5F5;
}

.product__price {
    font-size: 22px;
}

/* product end */

/* rating start */

.rate-button {
    align-self: flex-end;
    display: inline-flex;
    flex-direction: row-reverse;
    width: 120px;
    height: 24px; 
    margin-bottom: 15px;
}

.rate-button__hidden {
    display: none; 
}

.rate-button__item {
    width: 24px;
    height: 24px;
    cursor: pointer; 
}

.rate-button__item_filled {
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99963 0L9.79566 5.52786H15.6077L10.9057 8.94427L12.7017 14.4721L7.99963 11.0557L3.29756 14.4721L5.09359 8.94427L0.39153 5.52786H6.2036L7.99963 0Z' fill='%23FAFE3E'/%3E%3C/svg%3E%0A");  
}

.rate-button__item_empty {
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99963 0L9.79566 5.52786H15.6077L10.9057 8.94427L12.7017 14.4721L7.99963 11.0557L3.29756 14.4721L5.09359 8.94427L0.39153 5.52786H6.2036L7.99963 0Z' fill='%23fbff5587'/%3E%3C/svg%3E%0A"); 
}

.rate-button__item_empty:hover,
.rate-button__item:hover ~ .rate-button__item_empty {
    opacity: 1 !important;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99963 0L9.79566 5.52786H15.6077L10.9057 8.94427L12.7017 14.4721L7.99963 11.0557L3.29756 14.4721L5.09359 8.94427L0.39153 5.52786H6.2036L7.99963 0Z' fill='%23FAFE3E'/%3E%3C/svg%3E%0A"); 
}

.rate-button__hidden:checked ~ .rate-button__item_empty {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99963 0L9.79566 5.52786H15.6077L10.9057 8.94427L12.7017 14.4721L7.99963 11.0557L3.29756 14.4721L5.09359 8.94427L0.39153 5.52786H6.2036L7.99963 0Z' fill='%23FAFE3E'/%3E%3C/svg%3E%0A"); 
}
    .rate-button:hover > .rate-button__hidden:checked ~ .rate-button__item_empty {
    opacity: 0.4; 
}

/* rating end */

/* button-show-more start */

.separator__wrapper {
    margin: 0 -50px;
    position: relative;
    text-align: center;
    margin-top: 95px;
}

.separator {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    width: 1330px;
    height: 1px;
    background-color: #D7D8DA;
    transform: translateY(-50%);
}

.catalog-btn-show-more {
    background-color: #D7D8DA;
    color: #FEFEFE;
    transition: background .2s;
}

.catalog-btn-show-more:hover {
    background: #73767D;
}

/* button-show-more end */

/* section-call start */

.section_call__container {
    width: 400px;
    margin-right: 120px;
}

.section_call__uptitle {
    font-size: 14px;
}

.section_call__form {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input__wrapper {
    position: relative;
}

.input__wrapper label {
    position: absolute;
    font-size: 12px;
    top: -5px;
    left: 16px;
}

#name, #phone {
    width: 380px;
    border: none;
    border-radius: 8px;
    outline: none;
    color: #FEFEFE;
    padding: 16px;
    background-color: #05142E;
}

#name::placeholder, #phone::placeholder {
    color: #0B2D65;
}

.input__wrapper_checkbox span {
    color: #73767D;
    display: inline-block;
    margin-left: 28px;
    user-select: none;
}

.input__wrapper_checkbox span a {
    color: #FBFCFE;
}

#rules {
    position: absolute;
    align-self: left;
    z-index: -1;
    opacity: 0;
}

#rules + label {
    position: relative;
    color: #73767D;
}

#rules + label::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #FBFCFE;
    border-radius: 4px;
}

#rules:checked + label::after {
    content: '';
    position: absolute;
    top: -11px;
    left: 5px;
    display: block;
    width: 10px;
    height: 10px;
    background: #266EDB;
    border-radius: 2px;
}

.section_call__btn {
    width: 190px;
}

.section_call__img {
    position: absolute;
    top: 30px;
    right: 100px;
}

/* section-call end */

/* section-news start */

.section_news .btn {
    display: block;
    margin: 0 auto;
}

.section_news__fish {
    position: absolute;
    top: -180px;
    left: 0;
    z-index: -1;
}

/* section-news end */

/* secton-gift start */

.section_gift__explanation {
    display: block;
    font-size: 12px;
    color: #0B2D65;
    margin-bottom: 30px;
}

.section_gift__send-email {
    display: flex;
    margin-bottom: 16px;
}

.send-email__input {
    width: 370px;
    border: none;
    outline: none;
    padding: 16px 0 16px 16px;
    border-radius: 8px 0 0 8px;
}

.send-email__input::placeholder {
    color: #D7D8DA;
    font-size: 18px;
}

.send-email__button {
    width: 200px;
    background-color: #DB2626;
    transition: background-color .2s;
    border-radius: 0px 8px 8px 0;
}

.send-email__button:hover {
    background-color: #831616;;
}

.section_gift__approval {
    max-width: 550px;
    color: #D7D8DA;
}

.section_gift .section__subtitle {
    max-width: 570px;
}

.section_gift__advantages {
    position: relative;
    width: 300px;
    height: 300px;
    color: #FEFEFE;
    font-weight: 300;
}

.section_gift__advantages-item {
    position: absolute;
    border: 1px solid #FEFEFE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.section_gift__advantages-item span {
    width: 97px;
}

.section_gift__advantages-item:first-child {
    width: 120px;
    height: 120px;
    top: 0;
    left: 115px;
}

.section_gift__advantages-item:nth-child(2) {
    width: 100px;
    height: 100px;
    top: 140px;
    left: -25px;
}

.section_gift__advantages-item:last-child {
    width: 140px;
    height: 140px;
    left: 135px;
    bottom: -15px;
}

.section_gift__advantages-item:last-child span {
    width: 130px;
}

/* secton-gift end */

/* section-about-us start */

.section_about-us .section__title {
    margin-bottom: 0;
}

.section_about-us__wrapper {
    width: 100%;
    background-color: #F4F5F5;
    padding: 64px 21% 64px 21%;
    display: flex;
    align-items: center;
}

.section_about-us__img {
    width: 570px;
    height: 340px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    margin-right: 40px;
}

.section_about-us__heading {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
}

.section_about-us__words {
    font-size: 16px;
    margin-bottom: 25px;
    max-width: 430px;
}

@media (max-width: 1600px) {
    .section_about-us__wrapper {
        padding-left: 12%;
        padding-right: 12%;
    }
}

@media (max-width: 1430px) {
    .section_about-us__wrapper {
        padding-left: 8%;
        padding-right: 8%;
    }
}

@media (max-width: 1290px) {
    .section_about-us__wrapper {
        padding-left: 4%;
        padding-right: 4%;
    }
}

/* section-about-us end */

/* footer start */

.footer {
    padding-top: 80px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;

}

.footer__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
}

.footer__nav-item  {
    max-width: 250px;
}

.footer__nav-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 16px;
}

.footer__nav-links {
    display: flex;
    flex-direction: column;
}

.footer__nav-links-item {
    color: #73767D;
    margin-bottom: 18px;
    font-size: 16px;
}

.footer__nav-links-item:last-child {
    margin-bottom: 18px;
}

.footer__nav-contacts {
    display: flex;
    flex-direction: column;
}

.footer__nav-contacts-item {
    margin-bottom: 20px;
    color: #73767D;
    display: inline-flex;
    align-items: center;
}

.footer__nav-contacts-item:first-of-type::before {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.55056 0.799805H3.9998C2.23249 0.799805 0.799805 2.23249 0.799805 3.9998V7.1998C0.799805 16.0364 7.96325 23.1998 16.7998 23.1998H19.9998C21.7671 23.1998 23.1998 21.7671 23.1998 19.9998V17.7887C23.1998 17.1826 22.8574 16.6286 22.3153 16.3576L18.4499 14.4248C17.579 13.9894 16.5243 14.4262 16.2164 15.35L15.74 16.7792C15.4314 17.705 14.4817 18.2562 13.5247 18.0648C9.69467 17.2988 6.70083 14.3049 5.93482 10.4749C5.74343 9.51792 6.29456 8.56822 7.22038 8.25961L8.99419 7.66834C9.78734 7.40396 10.2432 6.57349 10.0405 5.76239L9.10279 2.01175C8.92472 1.29948 8.28475 0.799805 7.55056 0.799805Z' stroke='%2373767D'/%3E%3C/svg%3E%0A");
    margin-right: 8px;
}

.footer__nav-contacts-item:nth-of-type(2)::before {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.55056 0.799805H3.9998C2.23249 0.799805 0.799805 2.23249 0.799805 3.9998V7.1998C0.799805 16.0364 7.96325 23.1998 16.7998 23.1998H19.9998C21.7671 23.1998 23.1998 21.7671 23.1998 19.9998V17.7887C23.1998 17.1826 22.8574 16.6286 22.3153 16.3576L18.4499 14.4248C17.579 13.9894 16.5243 14.4262 16.2164 15.35L15.74 16.7792C15.4314 17.705 14.4817 18.2562 13.5247 18.0648C9.69467 17.2988 6.70083 14.3049 5.93482 10.4749C5.74343 9.51792 6.29456 8.56822 7.22038 8.25961L8.99419 7.66834C9.78734 7.40396 10.2432 6.57349 10.0405 5.76239L9.10279 2.01175C8.92472 1.29948 8.28475 0.799805 7.55056 0.799805Z' stroke='%23010409'/%3E%3C/svg%3E ");
    margin-right: 8px;
}

.footer__nav-contacts-item:last-of-type::before {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.799805 7.20039L11.9998 13.6004L23.1998 7.20039M2.3998 2.40039H21.5998C22.4835 2.40039 23.1998 3.11674 23.1998 4.00039V20.0004C23.1998 20.884 22.4835 21.6004 21.5998 21.6004H2.39981C1.51615 21.6004 0.799805 20.884 0.799805 20.0004V4.00039C0.799805 3.11673 1.51615 2.40039 2.3998 2.40039Z' stroke='%23010409'/%3E%3C/svg%3E%0A");
    margin-right: 8px;
}

.footer__nav-socials-links {
    display: flex;
}

.footer__nav-socials-links a {
    margin-right: 20px;
}

.footer__nav-socials-links a:last-of-type {
    margin-right: 0;
}

.footer__nav-payments-items {
    display: flex;
}

.footer__nav-payments-items a {
    margin-right: 20px;
}

.footer__nav-payments-items a:last-of-type {
    margin-right: 0;
}

.footer .logo {
    align-self: center;
    margin-bottom: 25px;
}

.separator__wrapper_footer {
    text-align: left;
    margin-bottom: 40px;
}

.footer__privacy-policy {
    padding-bottom: 25px;
    padding-left: 45px;
}

.footer__small-text p {
    font-size: 12px;
    max-width: 1100px;
    color: #73767D;
    margin-bottom: 20px;
}

.footer__small-text p:last-child {
    margin-bottom: 0;
}

/* footer end */

/* site-navigation start */

.page__navigation {
    display: flex;
    align-items: baseline;
    margin-bottom: 80px;
}

.page__navigation-item:not(.page__navigation-item_active) {
    color: #73767D;
    margin-right: 10px;
}

.page__navigation-item:not(.page__navigation-item_active)::after {
    content: "";
    display: inline-flex;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    border: 1px solid #73767D;
    border-bottom: none;
    border-left: none;
}

.page__navigation-item_active {
    pointer-events: none;
    color: #266EDB;
}

/* site-navigation end */

/* section-catalog start */

.section_catalog__catalog-list {
    display: flex;
    justify-content: space-between;
}

.section_catalog__sort,
.section_catalog__sort-list {
    display: flex;
    justify-content: flex-end;
}

.section_catalog__sort p {
    margin-right: 16px;
}

.section_catalog__sort-item a {
    color: #73767D;
    margin-right: 40px;
}

.section_catalog__sort-item:last-child a {
    margin-right: 0;
}

.section_catalog__sort-item_active a {
    color: #010409;
    font-weight: 700;
}

.section_catalog__product-list .stocks__catalog {
    max-width: 780px;
}

.section_catalog__product-list .stocks__catalog .stocks__catalog-item {
    margin-bottom: 50px;
}

.section_catalog__product-list .stocks__catalog .stocks__catalog-item:nth-last-child(-n+2) {
    margin-bottom: 0;
}

.section_catalog__aside {
    padding-top: 48px;
}

.section_catalog__aside * {
    margin-bottom: 25px;
}

.section_catalog__aside a {
    font-size: 22px;
    color: #73767D;
}

/* section-catalog end */

/* section-advantages start */

.section_advantages__item {
    text-align: center;
}

.section_advantages__item p {
    margin-top: 25px;
    max-width: 260px;
    font-size: 22px;
    color: #FEFEFE;
}

/* section-advantages end */

/* section-feedback start */
.section_feedback-slider {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 32px;
}

.section_feedback-slider .slider_news__arrow {
    top: 50%;
}

.section_feedback .btn {
    display: block;
    margin: 0 auto;
}

.section_feedback-slider-item {
    width: 350px;
    background-color: #FEFEFE;
    box-shadow: 0px 0px 4px rgba(1, 1, 1, 0.1);
    border: 0.2px solid #266EDB;
    border-radius: 8px;
    padding: 24px;
}

.comment__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
    color: #73767D;
}

.comment__text {
    font-size: 16px;
    color: #010409;
}

.section_feedback__button {
    display: block;
    margin-left: auto;
    margin-top: -40px;
    background-color: #F4F5F5;
    color: #266EDB;
    transition: background-color .2s;
}

.section_feedback__button:hover {
    background-color: #D7D8DA;
}

/* section-feedback end */

/* section-product start */

.product__wrapper {
    display: flex;
    justify-content: space-between;
}

.product__image-wrapper {
    width: 570px;
    height: 340px;
    border-radius: 8px;
    padding: 30px;
    position: relative;
    z-index: 1;
}

.product__image-wrapper::before,
.product__image-wrapper .mini-images .mini-images__item:not(.mini-images__item_active)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    background: rgba(1, 4, 9, 0.2);
    transition: background .2s;
}

.product__image-wrapper .mini-images .mini-images__item:not(.mini-images__item_active)::before {
    background: rgba(1, 4, 9, 0.6);
    cursor: pointer;
}

.product__image-wrapper .mini-images .mini-images__item:hover:not(.mini-images__item_active)::before {
    background: rgba(1, 4, 9, 0.3);
}

.product__image-wrapper__label {
    padding: 12px 24px;
}

.product__image-wrapper svg {
    cursor: pointer;
}

.product__image-wrapper svg:first-of-type {
    margin-right: 20px;
}

.product__image-wrapper .mini-images {
    position: absolute;
    left: 30px;
    bottom: 30px;
    display: flex;
}

.product__image-wrapper .mini-images .mini-images__item {
    margin-right: 15px;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    width: 65px;
    height: 55px;
}

.product__image-wrapper .mini-images .mini-images__item:last-child {
    margin-right: 0;
}

.product-info {
    width: 480px;
    padding-top: 15px;
}

.product-info h3 {
    margin-bottom: 25px;
}

.product-info__rating-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D7D8DA;
    margin-bottom: 45px;
}

.product-info__rating-wrapper {
    position: relative;
}

.product__count-of-reviews {
    position: absolute;
    left: 25%;
    font-size: 18px;
    color: #73767D;
    font-weight: 700;
}

.product-info__price {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    color: #828282;
    margin-bottom: 32px;
    margin-left: 20px;
    position: relative;
}

.product__old-price {
    position: absolute;
    left: 22%;
    top: -22px;
    font-size: 22px;
    color: #D7D8DA;
    text-decoration: line-through;
}

.product__info__buy-count {
    color: #73767D;
}

.product__info__buy-count b {
    color: #010409;
}

.product-info__current-price {
    width: 100%;
    color: #05142E;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 8px;
}

.product-info__weight-words {
    margin-left: 30px;
}

.product__footer .btn {
    width: 240px;   
}

.product__in-stock {
    font-size: 18px;
    color: #27AE60;
}

/* section-product end */

/* section-tabs start */

.section_tabs__tabs-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.section_tabs__tabs-item {
    font-size: 22px;
    color: #D7D8DA;
    padding: 0 100px 15px;
    text-align: center;
    border-bottom: 1px solid #D7D8DA;
    transition: border-color .2s, color .2s;
    cursor: pointer;
}

.section_tabs__tabs-item_active,
.section_tabs__tabs-item:not(.section_tabs__tabs-item_active):hover {
    border-bottom: 1px solid #05142E;
    color: #05142E;
}

.section_tabs__tabs-item-value_1 h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
}

.tab__information-block {
    margin-bottom: 18px;
}

.tab__information-block:last-child {
    margin-bottom: 40px;
}

.tab__information-name {
    color: #73767D;
}

.tab__information-name_nutritional {
    display: block;
    margin-bottom: 25px;
}

.tab__information-value {
    font-size: 16px;
}

.tab__information-block:last-child {
    margin-bottom: 0;
}

.product__nutritional-value {
    display: flex;
    align-items: center;
}

.product__nutritional-item {
    width: 80px;
    height: 80px;
    border: 1px solid #D7D8DA;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.product__nutritional-item:last-child {
    margin-right: 0;
}

.product__nutritional-item .nutritional-name {
    font-size: 12px;
}

.product__nutritional-item .nutritional-value {
    font-size: 16px;
    font-weight: 700;
}


/* section-tabs end */

/* section-rules start */

.section_rules-list {
    padding-left: 25px;
}

.section_rules-list-item {
    font-size: 16px;
    color: #73767D;
    margin-bottom: 20px;
    position: relative;
    max-width: 600px;
}

.section_rules-list-item::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -15px;
    top: 5px;
    width: 4px;
    height: 4px;
    background-color: #73767D;
    border-radius: 50%;
}

.section_rules-list-item:last-child {
    margin-bottom: 0;
}

.section_rules__img {
    position: absolute;
    top: 150px;
    right: 200px;
}

/* section-rules end */

/* section-reccomendation start */

.section_reccomendation__products {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.stocks__catalog-item_reccomendation {
    width: 300px;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    transition: none;
}

.stocks__catalog-item_reccomendation:hover {
    background-color: inherit;
}

.stocks__catalog-item_reccomendation .stocks__catalog-item-image-wrapper::before {
    display: none;
}

.stocks-product__info {
    padding-top: 20px;
    margin-top: 15px;
    border-top: 1px solid #D7D8DA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stocks-product__info-item {
    font-size: 12px;
    color: #828282;
}

.stocks-product__info-item_reviews {
    display: flex;
    align-items: center;
}

.stocks-product__info-item_reviews::before {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0.865234L9.79611 6.3931H15.6085L10.9062 9.80951L12.7023 15.3374L8 11.921L3.29772 15.3374L5.09383 9.80951L0.391548 6.3931H6.20389L8 0.865234Z' fill='%23FAFE3E'/%3E%3C/svg%3E%0A");
    margin-right: 3px;
}

/* section-reccomendation end */